# Local files (files in this directory)
/Doxyfile.local
/local_config.hh
/.prepare-stamp
/libsenf.a

# File name patters to ignore in all directories
*.pyc
*.png
*.o
*.test.checked
.sconsign*

# File names to ignore in all directories
all_includes.hh
doc/
.test.bin
.test.stamp
