# Local files (files in this directory)
/Doxyfile.local
/.prepare-stamp
/libsenf.a
/build-arch-debug-stamp
/build-arch-final-stamp
/build-indep-stamp
/configure-stamp
/linklint
/SConscript.local

# File name patters to ignore in all directories
*.pyc
*.png
*.o
*.test.checked
.sconsign*
*~
*#
.#*

# File names to ignore in all directories
all_includes.hh
doc/
.test.bin
.test.stamp
/libsenf_g.a
/TODO
/dist/
