Package: senf-dev
Version: PKG_VERSION
Section: base
Priority: optional
Architecture: i386
Depends:libboost-dev, libboost-date-time-dev, libboost-regex-dev,
        libboost-thread-dev
Maintainer: Joachim Kaeber <joachim.kaeber@fokus.fraunhofer.de>
Description: The SENF Extensible Network Framework
  The SENF Framework is a collection of loosely coupled modules
  for writing network oriented applications in C++.
