body {
        padding: 0;
        margin: 0;
        font-family: Verdana, Arial, Helvetica, sans-serif;
}

#head {
        height: 62px;
        border-top: 5px solid #DECD40;
        border-bottom: 1px solid #AF9D00;
        background: url(logo-head.png) top left no-repeat;
        background-color: #EDE497;
}

#head h1 {
        margin: 0 0 0 100px;
        padding: 6px 0 0 42px;
        height: 33px;
        background-color: #DECD40;
        border-bottom: 1px solid #AF9D00;
        font-size: 22px;
        font-weight: bold;
        color: white;
        white-space: nowrap;
        text-align: left;
}

#head h2 {
        margin: 0 0 0 100px;
        padding: 4px 0 0 42px;
        height: 18px;
        background-color: #EDE497;
        color: #726921;
        font-size: 13px;
        font-weight: normal;
        white-space: nowrap;
}

#content1 {
        padding: 0 10px 10px 0;
        border-bottom: 1px solid #AF9D00;
}

#content2 {
        /* need non-zero top padding here to prevent margin propagation */
        padding: 10px 0 0 142px;
        max-width: 62em;
}

a {
        font-weight: bold;
        text-decoration: none;
}

a:contains("http://") {
        font-weight: normal;
}

a.ext {
        font-style: italic;
}

div.tabs {
        display: inline; /* IE double margin fix */
        float: left;
        clear: left;
        background-color: #FDF7C3;
        border: 1px solid #AF9D00;
        margin: 0 0 10px -132px;
        width: 120px;
        overflow: hidden;
}

* html div.tabs {
        margin-bottom: 0; /* Grmpf .. IE6 is f**ing up ... */
}

div.tabs ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
}

div.tabs ul li {
        display: inline;
}

div.tabs ul li a {
        display: block;
        padding: 2px 5px;
        font-size: 13px;
        color: #726921;
        text-decoration: none;
        white-space: nowrap;
        font-weight: normal;
}

div.tabs ul li a:visited, div.tabs ul li a:active {
        color: #726921;
        text-decoration: none;
}

div.tabs li.current a {
        background-position: 100% -150px;
        border-width: 0px;
}

div.tabs li.current span {
        background-position: 0% -150px;
        padding-bottom: 6px;
}

div.tabs ul li a:hover, div.tabs ul li.current a {
        color: #726921;
        text-decoration: none;
        background-color: #EDE497;
}

#footer {
        clear: both;
        padding: 4px 10px 4px 142px;
        color: #726921;
        white-space: nowrap;
        text-align: right;
        max-width: 62em;
}

#footer span {
        font-size: 10px;
}

#footer a, #footer a:active, #footer a:visited {
        color: #726921;
        text-decoration: none;
}

#footer a:hover {
        background-color: inherit;
        text-decoration: underline;
}

dl.attention {
        border: 1px solid #AADD88;
        background-color: #EEFFDD;
        padding: 4px;
}

dl.warning {
        border: 1px solid #DDAA88;
        background-color: #FFEEDD;
        padding: 4px;
}

dl.note {
        border: 1px solid A0C2C2;
        background-color: #F0F8F8;
        padding: 4px;
}

table.senf {
        width: 95%;
        margin: 0 auto;
        border: 1px solid #AAAAAA;
        padding: 2px;
        border-spacing: 0;
}

table.senf td,th {
        border: 2px solid white;
        background-color: #EEEEEE;
        padding: 2px 4px;
        text-align: left;
}

table.senf th {
        background-color: #DDDDDD;
        text-align: center;
        font-weight: bold;
}

dl.xref-bug, dl.xref-fix, dl.xref-todo, dl.xref-idea {
        border: 1px solid #CC8888;
        padding: 2px 3px;
        margin: 4px 8px 4px 2px;
        background-color: #FFEEEE;
        color: #666666;
        font-size: 9px;
        overflow: hidden;
}

dl.xref-bug dt, dl.xref-fix dt, dl.xref-todo dt, dl.xref-idea dt,
dl.xref-bug dd, dl.xref-fix dd, dl.xref-todo dd, dl.xref-idea dd {
        display: inline;
        margin: 0;
        padding: 0;
}

dl.xref-bug a, dl.xref-fix a, dl.xref-todo a, dl.xref-idea a {
        color: #6666FF;
}

dl.xref-fix {
        border-color: #CCCC88;
        background-color: #FFFFEE;
}

dl.xref-todo {
        border-color: #88CC88;
        background-color: #EEFFEE;
}

dl.xref-idea {
        border-color:  #CCCCCC;
        background-color: #F8F8F8;
}

div.bug, div.fixme, div.todo, div.idea { 
	padding-left: 10px;
}

div.bug { 
	border-left: 10px solid red;
}

div.fixme { 
	border-left: 10px solid yellow;
}

div.todo { 
	border-left: 10px solid green;
}

div.idea { 
	border-left: 10px solid #AAAAAA;
}

table {
        width: 100%;
}

div.ah {
        margin-right: 10px;
}

div.nav {
        width: auto;
        background-color: white;
        border: none;
        border-bottom: 1px solid #AF9D00;
        padding: 5px 0;
        margin: 0;
}

div.qindex {
        width: auto;
        background-color: #e8eef2;
        border: 1px solid #84b0c7;
        text-align: center;
        margin: 2px 0;
        padding: 2px;
        line-height: 140%;
}

dl.parameters dd table {
        width: auto;
}

table.glossary {
        border: none;
        border-spacing: 0;
}

table.glossary tr td {
        border: none;
        border-bottom: 4px solid white;
        vertical-align: top;
        padding: 2px 4px;
        background-color: #F0F0F0;
}

table.glossary tr td:first-child {
        font-weight: bold;
        white-space: nowrap;
        padding-right: 10px;
}

table.members td:first-child {
        width: 35%;
}