body {
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#head {
	height: 63px;
	border-top: 4px solid #DECD40;
	border-bottom: 1px solid #AF9D00;
	background: url(logo-head.png) top left no-repeat;
	background-color: #EDE497;
}

#head h1 {
	margin: 0 0 0 100px;
        padding: 6px 0 0 0;
	height: 34px;
        background-color: #DECD40;
	border-bottom: 1px solid #AF9D00;
        font-size: 22px;
	font-weight: bold;
        color: white;
	white-space: nowrap;
	text-align: left;
}

#head h2 {
	margin: 0 0 0 100px;
	padding: 4px 0 0 0;
	height: 18px;
	background-color: #EDE497;
        font-size: 13px;
	font-weight: normal;
	color: #726921;
	white-space: nowrap;
}

#content { 
	/* Non-0 top padding to fix margin inhertance from first non-float elt */
	padding: 1px 10px 10px 142px;
}

div.tabs { 
	display: inline; /* IE double margin fix */
	float: left;
	clear: left;
	background-color: #FDF7C3;
	border: 1px solid #AF9D00;
        margin: 10px 0 0 -132px;
	width: 120px; 
	overflow: hidden;
}

div.tabs ul { 
	margin: 0;
	padding: 0;
	list-style-type: none;
}

div.tabs ul li { 
	display: inline;
}

div.tabs ul li a { 
	display: block;
	padding: 2px 5px;
        font-size: 13px;
	color: #726921;
	text-decoration: none;
	white-space: nowrap;
}

div.tabs ul li a:visited, div.tabs ul li a:active { 
	color: #726921;
        text-decoration: none;
}

div.tabs ul li a:hover, div.tabs ul li#current a { 
	color: #726921;
	text-decoration: none;
	background-color: #EDE497;
}

div.nav { 
	width: auto;
	background-color: white;
	border: none;
	border-bottom: 1px solid #AF9D00;
	padding: 5px 0;
	margin: 0;	
}

div.qindex {
	width: auto;
	background-color: #e8eef2;
	border: 1px solid #84b0c7;
	text-align: center;
	margin: 2px;
	padding: 2px;
	line-height: 140%;
}
