Source: libsenf
Priority: extra
Maintainer: Stefan Bund <senf-dev@lists.berlios.de>
Build-Depends: debhelper (>= 5), scons (>= 0.97), binutils-dev, libboost-dev, 
	libboost-test-dev, libboost-date-time-dev, libboost-regex-dev, 
	libboost-filesystem-dev, libboost-serialization-dev, libboost-iostreams-dev,
	doxygen (>= 1.5.5), libreadline-dev, dia, tidy, xsltproc, graphviz, perl-base, 
	linklint, netpbm
Standards-Version: 3.7.2 
Section: libs

Package: libsenf
Section: libdevel
Architecture: any
Description: SENF Extensible Network Framework, static library
 The SENF Simple and Extensible Network Framework aims to be a
 complete set of libraries to facilitate the development of network
 applications focusing on network protocols on the layers below the
 application layer. However, the framework includes many general
 purpose utilities and will be expedient to use well beyond its primary
 objective.

Package: libsenf-dbg
Section: libdevel
Architecture: any
Description: SENF Extensible Network Framework, static library (debug build)
 The SENF Simple and Extensible Network Framework aims to be a
 complete set of libraries to facilitate the development of network
 applications focusing on network protocols on the layers below the
 application layer. However, the framework includes many general
 purpose utilities and will be expedient to use well beyond its primary
 objective.

Package: libsenf-dev
Section: libdevel
Architecture: all
Depends: binutils-dev, libboost-dev, libboost-regex-dev, 
	libboost-date-time-dev, libboost-thread-dev, libboost-serialization-dev,
	libboost-filesystem-dev, libsenf (=${source:Version}) | libsenf-dbg (=${source:Version})
Recommends: libsenf (=${source:Version}), libsenf-dbg (=${source:Version})
Suggests: libsenf-doc (=${source:Version})
Description: SENF Extensible Network Framework, header files
 The SENF Simple and Extensible Network Framework aims to be a
 complete set of libraries to facilitate the development of network
 applications focusing on network protocols on the layers below the
 application layer. However, the framework includes many general
 purpose utilities and will be expedient to use well beyond its primary
 objective.

Package: libsenf-doc
Section: doc
Architecture: all
Description: SENF Extensible Network Framework, documentation and examples
 The SENF Simple and Extensible Network Framework aims to be a
 complete set of libraries to facilitate the development of network
 applications focusing on network protocols on the layers below the
 application layer. However, the framework includes many general
 purpose utilities and will be expedient to use well beyond its primary
 objective.
