#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

debian_build=1
export debian_build

# This has to be exported to make some magic below work.
export DH_OPTIONS

CONCURRENCY_LEVEL ?= 1
export CONCURRENCY_LEVEL

destdir=$(CURDIR)/debian/tmp

configure: configure-stamp
configure-stamp:
	dh_testdir
#	Add here commands to configure the package.
#	rm -f Doxyfile.local SConstruct.local senf/local_config.hh
	scons prepare
#       If needed, we could create new files 'Doxyfile.local',
#       'SConstruct.local' and/or 'local_config.hh' here.  We don't
#       remove them in 'clean' to allow building a source package from
#       an individually configured svn working copy. (The files are
#       ignored by dpkg-buildpackge because of appropriate -I
#       arguments provided by 'scons deb' and 'scons debsrc'
	touch configure-stamp

build: build-arch build-indep

build-arch: build-arch-debug build-arch-final

build-arch-final: build-arch-final-stamp
build-arch-final-stamp: configure-stamp
# 	Add here commands to compile the arch part of the package.
	scons -j $(CONCURRENCY_LEVEL) $(destdir)/usr/lib $(destdir)/usr/bin \
		final=1 syslayout=1 \
		PREFIX='$(destdir)/usr' OBJINSTALLDIR='$$PREFIX/lib/senf/final'
	touch $@

build-arch-debug: build-arch-debug-stamp
build-arch-debug-stamp: configure-stamp
# 	Add here commands to compile the arch part of the package.
		scons -j $(CONCURRENCY_LEVEL) $(destdir)/usr/lib \
		LIBADDSUFFIX=_g OBJADDSUFFIX=_g syslayout=1 \
		PREFIX='$(destdir)/usr' OBJINSTALLDIR='$$PREFIX/lib/senf/debug'
	touch $@

build-indep: build-indep-stamp
build-indep-stamp: configure-stamp
# 	Add here commands to compile the indep part of the package.
	scons -j $(CONCURRENCY_LEVEL) all_docs
	scons linklint
	scons fixlinks
	scons $(destdir)/usr/include $(destdir)/usr/share/doc \
		syslayout=1 PREFIX='$(destdir)/usr' \
		DOCINSTALLDIR='$$PREFIX/share/doc/libsenf-doc/html'
#       We need to install the example sourcecode
	find Examples \( -name "*.hh" -o -name "*.cc" \) -printf "%P\n" | \
		while read src; do \
			dir="$(destdir)/usr/share/doc/libsenf-doc/examples/$$(dirname "$$src")"; \
			mkdir -p "$$dir"; \
			cp "Examples/$$src" "$$dir"; \
		done
	touch $@

clean: debclean
# 	Add here commands to clean up after the build process.
	-scons -c all
	-scons -c all LIBADDSUFFIX=_g OBJADDSUFFIX=_g

debclean:
	dh_testdir
	dh_testroot
	rm -f build-arch-*-stamp build-indep-stamp configure-stamp
	dh_clean

install: install-arch install-indep
install-indep: build-indep
	dh_testdir
	dh_testroot
	dh_clean -k -i -Xdebian/tmp
	dh_installdirs -i
# 	Add here commands to install the indep part of the package into
# 	debian/<package>-doc.
	dh_install -X.svn -X.git -i

install-arch: build-arch
	dh_testdir
	dh_testroot
	dh_clean -k -s -Xdebian/tmp
	dh_installdirs -s
# 	Add here commands to install the arch part of the package into 
# 	debian/tmp.
	dh_install -X.svn -X.git -s

# Must not depend on anything. This is to be called by
# binary-arch/binary-indep
# in another 'make' thread.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate	
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress -Xhtml -Xdoclib -Xexamples
	dh_fixperms
#	dh_perl
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep: build-indep install-indep
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

binary-arch: build-arch install-arch
	$(MAKE) -f debian/rules DH_OPTIONS=-s binary-common

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch \
	binary-arch-common binary-arch-final binary-arch-debug
