Import('env')
import SatSCons

###########################################################################

SatSCons.StandardTargets(env)

# SatSCons.Lib(env,
#               library = 'Test',
#               sources = SatSCons.GlobSources())
