Import('env')
import SENFSCons

###########################################################################

SENFSCons.StandardTargets(env)

# SENFSCons.Lib(env,
#               library = 'Test',
#               sources = SENFSCons.GlobSources())
